{%extends "Osnova.html"%}

{%block main%}
<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">Протидія булінгу</h3>
</div>
</div>

<div id="Zdiv">
<img height="500" width="650" src="https://static.wixstatic.com/media/a42cc4_e9f95028e97048af9f0474e687e64c08~mv2.png/v1/fill/w_629,h_402,al_c,lg_1,q_85/10%20zakon-pro-bulling.webp">
<br>
<iframe width="480" height="270" src="https://www.youtube.com/embed/SaSW4Bu72HI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="473" height="270" src="https://www.youtube.com/embed/L_ETiebD6RM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="480" height="270" src="https://www.youtube.com/embed/idDsFVxRNJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{%endblock%}