{%extends "Osnova.html"%}

{%block main%}

<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">Дистанційне навчання</h3>
</div>
</div>
<div id="Zdiv">
<img height="500" width="650" src="https://static.wixstatic.com/media/a42cc4_c94a61b9f3c44836b5d36ec17e8227b4~mv2.jpg/v1/fill/w_288,h_282,al_c,lg_1,q_80/%D0%B7%D0%B0%D0%B3%D1%80%D1%83%D0%B6%D0%B5%D0%BD%D0%BE_jfif.webp">
<img height="500" width="650" src="https://static.wixstatic.com/media/a42cc4_f5cf55323d44479889484908acee81a9~mv2.jpg/v1/fill/w_630,h_473,al_c,q_80,usm_0.66_1.00_0.01/IMG_0005_JPG.webp">
<a class="Poss" href="https://docs.google.com/spreadsheets/d/1aTBYJfymP03gGK0Hvsp01q8yrtGgRelc/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">1-4 класи ></a>
<a class="Poss" href="https://docs.google.com/spreadsheets/d/1LdYpv4tFFAjli6uMnYfieDY6ZXbvODtj/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Розклад 5-7 класи ></a>
<a class="Poss" href="https://docs.google.com/spreadsheets/d/1SD2MmSAhDj_MqQdtmge82-uCpJ2xmNsb/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Розклад 8-11 класи ></a>
<a class="Poss" href="https://docs.google.com/document/d/122bpWeXSiAXLDmQ2ruW46H26gdXvlDWk/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Розклад занять гуртків ></a>
<a class="Poss" href="https://docs.google.com/document/d/1g7C4umOamvV-5WTSWBdecXiKn1gVdjxp/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Розклад індивідуального навчання ></a>
<a class="Poss" href="https://docs.google.com/document/d/13b0hiCVrv2zG-izhXJfPm7gd-OsbhLrW/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Розклад ДІЗ 2021-2022 ІІ семестр ></a>
</div>

    {%endblock%}