{%extends "Osnova.html"%}

{%block main%}
<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">Головна сторінка</h3>
</div>

<div id="Merezhi">
<h1 class="Stext">СОЦ.МЕРЕЖІ</h1>
<iframe width="480" height="271" src="https://www.youtube.com/embed/H_0MHHpwawo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="480" height="271" src="https://www.youtube.com/embed/mHtBf7io-wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div id="Social">
<p><a href="https://www.instagram.com/nvk16mlt/?utm_medium=copy_link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="100" height="100" border="0" alt="Пример"></a></p>
<p><a href="https://www.facebook.com/groups/1676128275739564/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/480px-Facebook_logo_%28square%29.png" width="100" height="100" border="0" alt="Пример"></a></p>
<p><a href="https://www.youtube.com/channel/UCI6UxalhPnJsPse09hPQARQ"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/640px-YouTube_full-color_icon_%282017%29.svg.png" width="100" height="100" border="0" alt="Пример"></a></p>
</div>
</div>

<div id="Novini">
<h1 class="Stext">НОВИНИ ШКОЛИ</h1>
<p class="SimpText">Дізнавайся про новини своєї школи першим!</p>
<div style="text-align:center;"><div style="margin:8px 0px 4px;"><a href="https://www.calameo.com/books/002107825f3b913073c30" target="_blank">Наждачка січень</a></div><iframe src="//v.calameo.com/?bkcode=002107825f3b913073c30" width="300" height="194" frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe><div style="margin:4px 0px 8px;"><a href="http://www.calameo.com/">Publish at Calameo</a></div></div>
<br>
<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_825e26992b8140b994d1d9f30babecbc~mv2.jpg/v1/fill/w_363,h_272,fp_0.50_0.50,q_90/a42cc4_825e26992b8140b994d1d9f30babecbc~mv2.webp">
<h1 class="NZtext">Дистанційка</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_c043605b3aaf475ba3b4bb561aa6f07b~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_c043605b3aaf475ba3b4bb561aa6f07b~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_5caf3def18304f9bb3f8f91fbf66feab~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_5caf3def18304f9bb3f8f91fbf66feab~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_e55c8f200c25498d878c9a7f0f8891b9~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_e55c8f200c25498d878c9a7f0f8891b9~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_13d40d380c264b1c81afbaa25051b881~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_13d40d380c264b1c81afbaa25051b881~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_5ce8a1a0a2db4d43b05aaa957500c619~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_5ce8a1a0a2db4d43b05aaa957500c619~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_0641330b30af44bb980a0a3e276f7aa0~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_0641330b30af44bb980a0a3e276f7aa0~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_b1c816dae99345f7943d0217bc17eba7~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_b1c816dae99345f7943d0217bc17eba7~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_52c1b6b577994add8550a3ecfec0d2cd~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_52c1b6b577994add8550a3ecfec0d2cd~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_ca97260b6ab244bcabfaf019ee947bca~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_ca97260b6ab244bcabfaf019ee947bca~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>
</div>
</div>
{%endblock%}