<!doctype html>
<html>
<head>
<title>
НВК №16
</title>
	<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
</head>
<body>
<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a class='dropdown-arrow' href='index1.html'>ГОЛОВНА</a>
      <ul class='sub-menus'>
        <li><a href='History.html'>ІСТОРІЯ НВК№16</a></li>
        <li><a href='Nove.html'>НВК сьогодні</a></li>
        <li><a href='Kolektiv.html'>Наш колектив</a></li>
        <li><a href='Pravila.html'>Правила учнів</a></li>
        <li><a href='Rada.html'>РАДА НВК№16</a></li>
        <li><a href='Harch.html'>Шкільне харчування</a></li>
        <li><a href='Plan.html'>РІЧНИЙ ПЛАН</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>Прозорість</a>
      <ul class='sub-menus'>
        <li><a href='Stat.html'>Статут закладу освіти</a></li>
        <li><a href='Licens.html'>Ліцензії на провадження освітньої діяльності</a></li>
        <li><a href='Uprav.html'>Структура та органи управління закладом</a></li>
        <li><a href='Kadr.html'>Кадровий склад</a></li>
        <li><a href='OsPro.html'>Освітні программи, що реалізуются в закладі</a></li>
        <li><a href='Terit.html'>Територія обслуговування</a></li>
        <li><a href='Potyz.html'>Ліцензований обсяг (потужність)</a></li>
        <li><a href='Mova.html'>Мова освітнього процесу</a></li>
        <li><a href='Rekviz.html'>РЕКВІЗИТИ РАХУНКУ </a></li>
        <li><a href='Vakan.html'>Наявність вакантних посад</a></li>
        <li><a href='Mater.html'>Матеріально-технічне забезпечення закладу</a></li>
        <li><a href='Rezylt.html'>Результати моніторингу якості освіти</a></li>
        <li><a href='Zvit.html'>Річний звіт про діяльність закладу</a></li>
        <li><a href='Ymovi.html'>Умови доступності закладу </a></li>
        <li><a href='Proyom.html'>Правила прийому до закладу</a></li>
        <li><a href='Perelik.html'>Перелік додаткових освітніх послуг</a></li>
        <li><a href='Publish.html'>Використання публічних коштів</a></li>
        <li><a href='Poryadok.html'>Порядку обліку дітей</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>БЕЗПЕКА</a>
      <ul class='sub-menus'>
        <li><a href='Psyh.html'>Психологічна служба</a></li>
        <li><a href='Torg.html'>Торгівля людьми</a></li>
		<li><a href='Byling.html'>Притидія булінгу</a></li>
      </ul>
    </li>
    <li><a href='Distan.html'>ДИСТАНЦІЙНЕ НАВЧАННЯ</a></li>
    <li><a href='Regestr.html'>Рєєстрація в 1, 10 клас</a></li>
    <li><a href='VSYO.html'>ВСЗЯО</a></li>
  </ul>
</nav>
<nav id='menu2'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><p><a href="http://libraryuvk16.blogspot.com/"><img src="https://static.wixstatic.com/media/a42cc4_9601a7798fa54f1f91827a1e2715a561~mv2.jpg/v1/fill/w_101,h_52,al_c,q_80,usm_0.66_1.00_0.01/images_jfif.webp" width="100" height="100" border="0" alt="Пример"></a></p></li>
	<li><a href="https://sites.google.com/meluo.zp.ua/osvita-melitopol"><img src="https://static.wixstatic.com/media/a42cc4_50268e5102ec4ba3a78b8083b807ba79~mv2.jpg/v1/fill/w_96,h_60,al_c,q_80,usm_0.66_1.00_0.01/osvita-melitopol.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://znaimo.gov.ua/"><img src="https://static.wixstatic.com/media/a42cc4_d1149fc06a83466da066f537e51c6a8a~mv2.jpg/v1/fill/w_106,h_85,al_c,q_80,usm_0.66_1.00_0.01/znaimo.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://drive.google.com/file/d/1bBLB04R9Qgx6C3rbs2742JZzfMTXrUkl/view"><img src="https://static.wixstatic.com/media/a42cc4_89ab510a129d43c9840bdf59eebc3190~mv2.png/v1/fill/w_101,h_101,al_c,q_85,usm_0.66_1.00_0.01/SELFIE%20(badge).webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://zp.isuo.org/ru/schools/view/id/1409"><img src="https://static.wixstatic.com/media/a42cc4_91c9f9bce74e4d26a72decc64564f141~mv2.png/v1/fill/w_118,h_35,al_c,q_85,usm_0.66_1.00_0.01/07022022_PNG.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="http://www.tsatu.edu.ua/"><img src="https://static.wixstatic.com/media/a42cc4_a5e4e24cfbbc4a97af350c4d073cd885~mv2.png/v1/fill/w_89,h_101,al_c,q_85,usm_0.66_1.00_0.01/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_2022-02-07_192915.webp" width="100" height="100" border="0" alt="Пример"></a></li>	    
	<li><a href="https://mdpu.org.ua/"><img src="https://static.wixstatic.com/media/a42cc4_8446c58064d8415c87585299d2cb1ea3~mv2.png/v1/fill/w_96,h_86,al_c,q_85,usm_0.66_1.00_0.01/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_2022-02-07_193423.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://testportal.gov.ua/"><img src="https://static.wixstatic.com/media/a42cc4_d9c87665d81943448a6ba16e0cf32be2~mv2.png/v1/fill/w_126,h_60,al_c,q_85,usm_0.66_1.00_0.01/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_2022-02-07_195211.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://drive.google.com/file/d/1k5Kn6kh7BANYVIiITlOdZtK4MhfQQA_K/view?usp=sharing"><img src="https://static.wixstatic.com/media/a42cc4_c391098b603540dea685ec5202e3e838~mv2.png/v1/fill/w_106,h_71,al_c,q_85,usm_0.66_1.00_0.01/24484-1200x800-2.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://nz.ua/ru"><img src="https://static.wixstatic.com/media/a42cc4_6189a8a0dfe4481283db86e542ae50e0~mv2.gif" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://la-strada.org.ua/"><img src="https://static.wixstatic.com/media/a42cc4_064c6b3792864c9cb8f91f582e79bb94~mv2.jpg/v1/fill/w_95,h_113,al_c,q_80,usm_0.66_1.00_0.01/2411.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="http://stolnikova09.blogspot.com/"><img src="https://static.wixstatic.com/media/a42cc4_b120145d82224512a5971597d5356b8e~mv2.gif" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="https://deutschtina.blogspot.com/"><img src="https://static.wixstatic.com/media/a42cc4_f6a24802034d4bf590fb4fe94c669634~mv2.jpg/v1/fill/w_101,h_67,al_c,q_80,usm_0.66_1.00_0.01/stolnikova.webp" width="100" height="100" border="0" alt="Пример"></a></li>
	<li><a href="http://varlakov.at.ua/"><img src="https://static.wixstatic.com/media/a42cc4_7dfd466302b94d4bb03d5f00f7de3cf9~mv2.gif" width="100" height="100" border="0" alt="Пример"></a></li>
  </ul>
</nav>
<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">Головна сторінка</h3>
</div>

<div id="Merezhi">
<h1 class="Stext">СОЦ.МЕРЕЖІ</h1>
<iframe width="480" height="271" src="https://www.youtube.com/embed/H_0MHHpwawo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="480" height="271" src="https://www.youtube.com/embed/mHtBf7io-wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div id="Social">
<p><a href="https://www.instagram.com/nvk16mlt/?utm_medium=copy_link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="100" height="100" border="0" alt="Пример"></a></p>
<p><a href="https://www.facebook.com/groups/1676128275739564/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/480px-Facebook_logo_%28square%29.png" width="100" height="100" border="0" alt="Пример"></a></p>
<p><a href="https://www.youtube.com/channel/UCI6UxalhPnJsPse09hPQARQ"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/640px-YouTube_full-color_icon_%282017%29.svg.png" width="100" height="100" border="0" alt="Пример"></a></p>
</div>
</div>

<div id="Novini">
<h1 class="Stext">НОВИНИ ШКОЛИ</h1>
<p class="SimpText">Дізнавайся про новини своєї школи першим!</p>
<div style="text-align:center;"><div style="margin:8px 0px 4px;"><a href="https://www.calameo.com/books/002107825f3b913073c30" target="_blank">Наждачка січень</a></div><iframe src="//v.calameo.com/?bkcode=002107825f3b913073c30" width="300" height="194" frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe><div style="margin:4px 0px 8px;"><a href="http://www.calameo.com/">Publish at Calameo</a></div></div>
<br>
<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_825e26992b8140b994d1d9f30babecbc~mv2.jpg/v1/fill/w_363,h_272,fp_0.50_0.50,q_90/a42cc4_825e26992b8140b994d1d9f30babecbc~mv2.webp">
<h1 class="NZtext">Дистанційка</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_c043605b3aaf475ba3b4bb561aa6f07b~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_c043605b3aaf475ba3b4bb561aa6f07b~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_5caf3def18304f9bb3f8f91fbf66feab~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_5caf3def18304f9bb3f8f91fbf66feab~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_e55c8f200c25498d878c9a7f0f8891b9~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_e55c8f200c25498d878c9a7f0f8891b9~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_13d40d380c264b1c81afbaa25051b881~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_13d40d380c264b1c81afbaa25051b881~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_5ce8a1a0a2db4d43b05aaa957500c619~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_5ce8a1a0a2db4d43b05aaa957500c619~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_0641330b30af44bb980a0a3e276f7aa0~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_0641330b30af44bb980a0a3e276f7aa0~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_b1c816dae99345f7943d0217bc17eba7~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_b1c816dae99345f7943d0217bc17eba7~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

<div id="NoviniBox">
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_52c1b6b577994add8550a3ecfec0d2cd~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_52c1b6b577994add8550a3ecfec0d2cd~mv2.webp">
<h1 class="NZtext">Вітаємо!</h1>
<p class="Ntext">Школа виходить на дистанційне навчання</p>
</div>
<div id="novina">
<img width="400" height="350" src="https://static.wixstatic.com/media/a42cc4_ca97260b6ab244bcabfaf019ee947bca~mv2.jpg/v1/fill/w_363,h_257,fp_0.50_0.50,q_90/a42cc4_ca97260b6ab244bcabfaf019ee947bca~mv2.webp">
<h1 class="NZtext">Вітаємо переможців</h1>
<p class="Ntext">Вітаємо переможців конкурсу!</p>
</div>
</div>

</div>









<video autoplay muted loop id="myVideo">
  <source src="Images/16 школа 30 лет new.mp4" type='video/mp4;'>
</video>
</div>
<footer class="Ftext">
<p><a href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%A1%D0%BE%D0%BF%D0%B8%D0%BD%D0%B0,+200,+%D0%9C%D0%B5%D0%BB%D0%B8%D1%82%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C,+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D0%BE%D0%B6%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+72300/@46.8752195,35.3758954,17z/data=!3m1!4b1!4m5!3m4!1s0x40c2b211522d4131:0xe70e6f2358c5e5ea!8m2!3d46.8752195!4d35.3780841"><img src="images/a42cc4_14c4414885d3460189de1bb712962928_mv2.gif" width="300" height="250" border="0" alt="Пример"></a></p>
<div><p>72318 Запорізька область,</p> <br> <p>м.Мелітополь,</p> <br> <p>вул.Сопіна, 200 </p> <br> <p>тел.: 0619257088   <br>         e-mail: nvk16_mel@ukr.net</p> <div>
</footer>
</body>
</html>