{%extends "Osnova.html"%}

{%block main%}

<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">РІЧНИЙ ПЛАН</h3>
</div>
</div>
<div id="Zdiv">
<h1>ПЛАН НВК№16 НА РІК</h1>
<a class="Poss" href="https://drive.google.com/drive/folders/1nyOf9-3NPXtWavPdpcgQP0O9CvuSM-sU?usp=sharing">Аналіз ></a>
<br>
<a class="Poss" href="https://drive.google.com/drive/folders/1ESre77E-rFV89Qf6T0t8dMDZ8NWV-vW3?usp=sharing">Річний План ></a>
<br>
<a class="Poss" href="https://drive.google.com/drive/folders/1IeODaxXrIPqHDGejhnClbUnLKr2MzfLj?usp=sharing">Стратегія розвитку Мелітопольського НВК№16 ММР ЗО на 2021-2025н.р ></a>
</div>


{%endblock%}