{%extends "Osnova.html"%}

{%block main%}


<div id="Golovna">
<div id="Vvideo">
<h1 class="Gtext">МЕЛІТОПОЛЬСЬКИЙ НВК№16</h1>
<h3 class="Stext">Торгівля людьми</h3>
</div>
</div>
<div id="Zdiv">
<a class="Poss" href="https://docs.google.com/document/d/1LEu8Xym4lbXIBr9tNH-LoEz4nYN13way/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">ПОЛОЖЕННЯ про внутрішню систему забезпечення  якості  освіти ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1o0eE1wwxaV8q5cWAQ-UVhpEUKTeLz-Fx/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Напрям 1 ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1_MsGlmTA6Phb4cYJJBzQH2JIcTsx_GnT/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Напрям 2 ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1EgcRrgXKwoccp2T5tBBxrlid12xacaG5/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Напрям 3-4 ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1lajMsLFQpFB2oT3uANVqakbGnVQ4QqtU/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">ПОЛОЖЕННЯ про внутрішній  моніторинг якості освіти ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1jtUQewv8j-MPT19Mir5hq4nHk05CxMZx/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">ВИМОГИ ДО КВАЛІФІКАЦІЙНИХ КАТЕГОРІЙ ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1ymeDUp8x6MvYnijB2IqOeBFsVQMDaR7d/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Критерії оцінювання роботи педагогічного працівника ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1PebFzrXCPMjAnHUIZu36U7SgX2jZrEV4/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">КЛЮЧОВІ КОМПЕТЕНТНОСТі ЗДОБУВАЧІВ ОСВІТИ ></a>
<br>
<a class="Poss" href="https://drive.google.com/file/d/1Lf4fgvXWNK_kIFsqCswvd0VHTfiR_WBp/view?usp=sharing">Критерії та методичні рекомендації щодо оцінювання здобувачів по ></a>
<br>
<a class="Poss" href="https://drive.google.com/file/d/1fk4HK6SWGPtHff31sWmdoeM4anZ3KUe1/view?usp=sharing">Наказ МОН України від 23.12.2020 № 2736 Професійний стандарт ></a>
<br>
<a class="Poss" href="https://drive.google.com/file/d/1dwKCwC4vfzwzJ0ufRyk2iCK-Od-ZmTG4/view?usp=sharing">Анкета для батьків ></a>
<br>
<a class="Poss" href="https://drive.google.com/file/d/12wZUohKqypOvo1Q2VARx49maoBxV13N3/view?usp=sharing">Анкета для педагогічних працівників ></a>
<br>
<a class="Poss" href="https://drive.google.com/file/d/1IyIBAN40dc6VHdceQKfONzjL8vkZaXxf/view?usp=sharing">Анкета для учня/учениці ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1ej1tVlcLvee2fnvCwrmY24T7bQu-d4aW/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Звіт про проведення самооцінювання 2020-2021 ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/1-Mah0V66y7MawCyilTDaydTghu0Xobrp/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Наказ про результати самооцінювання 2020-2021 ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/11kMFBTTrzBpbWoNgCncl29iscG1klWtt/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Додаток №1 до наказу від 16.07.2021р. ></a>
<br>
<a class="Poss" href="https://docs.google.com/document/d/19p72PuDK4ybL4Bzc7-U7bXRzEKN6RDtN/edit?usp=sharing&ouid=110221429394014450448&rtpof=true&sd=true">Наказ Про створення робочої комісії з питань формування системи якості освіти  ></a>
</div>

{%endblock%}